
    <form method = "post" action = "/articles">
   <label> Title: </label>
    <input type = "text" name = "title" id = "title">

    <label>Content:</label>
     <input type = "text" name= "content" id= "content">
    <p><input type= "submit" id="submit" name = "submit"</p>
    </form>
    